.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gridMain {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
}

@media (max-width: 900px) {
  .gridMain {
    grid-template-columns: 1fr;
  }
}
